site_name: Documentation
site_url: https://documentation.secondstage.io
extra_css:
  - stylesheets/extra.css?v=2
extra_javascript:
  - javascripts/extra.js
theme:
  name: material
  logo: assets/2s-logo.png
  favicon: assets/favicon.png
  font:
    text: Inter
    code: Fira Code
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.instant
    - navigation.path
    - navigation.indexes
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:

    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
      primary: root
      accent: red

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/toggle-switch 
        name: Switch to dark mode
      primary: root
      accent: red

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to system preference
      primary: root
      accent: red

      
extra:
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/secondstage/
  homepage: https://documentation.secondstage.io
  generator: false
  
# Extensions 
markdown_extensions:
  - footnotes
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: true
      title: Table of contents
      permalink: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true

plugins:
  - search

copyright: |
  &copy; 2025 <a href="https://secondstage.io"  target="_blank" rel="noopener">Second Stage GmbH</a>

# Page tree 
nav:
  - Home: index.md
  - Overview:
    - Functionality: overview/functionality.md
    - Integration: overview/integration.md
  - Platform Integration: 
    - Media Platform Access: platform/mediachannels.md
    - Landing Page Integration: platform/landingpages.md
    - Steamworks Integration: platform/steamworks.md
    - Custom Domains: platform/domains.md
    - Postbacks: platform/postbacks.md
  - Attribution Integration: 
    - Cloud Setup: attribution/cloud.md
    - TRACKS Measurement API: attribution/measurementapi.md
    - Telemetry Setup: attribution/telemetry.md
    - GDPR API: attribution/gdprapi.md
  - Support:
    - Ad Ops Guide: support/adopshelper.md 
    - Data Handling & Security: support/datasecurity.md
    - Knowledge Base: support/knowledgebase.md
  - Glossary: glossary.md
  - Changelog: changelog.md


